%form.form-horizontal
  %fieldset
    
    %legend Aufgaben bearbeiten
    .js--category
      .form-group
        %label.col-md-4.control-label{:for => "category"} Kategorie
        .col-md-4
          %select#Kategorie.form-control.js--select{:name => "category"}
            %option{value: ''} Bitte wählen...
            - @topic.categories.each do |category|
              %option{:value => category.id}= category.short_title

      %table.table.js--spelling-tasks