.jumbotron
  %h1= @topic.title
  %p= @topic.description

  - @topic.categories.each do |category|
    %a.btn.btn-lg.btn-primary.has-margin{href: topic_category_path(@topic, category)}
      = category.short_title

  - if current_user.is?('admin')
    .admin--button
      %a.btn.btn-warning.btn-lg{href: new_topic_spelling_task_path(@topic)} Aufgaben bearbeiten

- if current_user.is?('admin')
  %table.table.js--categories{data: {id: @topic.id}}
