= option_fields.label :name
%input{name: "category[response_options][]", value: local_assigns[:name]}

= option_fields.label :value
%input{name: "category[response_options][]", value: local_assigns[:value]}
